body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

.container {
    margin-top: 50px;
}

T
.logo img {
    width: 200px;
}

.buttons {
    margin-top: 20px;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #0141d5;
    color: white;
    border: none;
    cursor: pointer;
}
.buttons.

button:hover {
    background-color: #45a049;
}
