/* START Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* END Fonts */

/* General */
:root {
  --bg-color: #058fdb;
  --hover-color: #45a049;
  --btn-color: #0d0f28;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--bg-color);
}

/* Home */
.sect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont {
  padding: 4rem;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
}

.cont_logo img {
  width: 200px;
}

button {
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}

.cont_btn {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem 1rem;
}

.cont_btn__1,
.cont_btn__2,
.cont_btn__3,
.cont_btn__4,
.cont_btn__5 {
  background-color: var(--btn-color);
  border-radius: 64px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: -10px;
  background-position-y: center;
  font-size: 18px;
  padding: 0 4rem;
  font-weight: 700;
  width: 310px;
  height: 85px;
}

.btn-grande {
  background-size: 70px;
}

.cont_btn__1 {
  background-size: 30%;
  background-position: -20px -5px;
  background-image: url(../imagenes/empezar_partido.svg);
}

.cont_btn__2 {
  background-image: url(../imagenes/equipo.svg);
}

.cont_btn__3 {
  background-image: url(../imagenes/estadisticas.svg);
}

.cont_btn__4 {
  background-image: url(../imagenes/pizarra.svg);
}

.cont_btn__5 {
  background-image: url(../imagenes/jugador.svg);
}

/* Partido */
.sect_partido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

.sect_nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem;
}

.nav_partido {
  display: flex;
  justify-content: space-around !important;
  gap: 0 4rem;
}
.cont_nav__logo img {
  width: 150px;
}

.cont_nav {
  min-width: 30%;
  max-width: 70%;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_nav__btn {
  display: flex;
  gap: 0 1rem;
}

.btn_partido {
  width: auto;
  height: 50px;
  padding: 0 2rem 0 3rem;
  text-align: right;
  background-size: 50px;
  background-position: -10px 5px;
}

/* Jugadores */
.cont_buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.cont_buttons__remates {
  background-color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16rem;
  gap: 0 1.5rem;
}

.remates_rojo,
.remates_verde,
.remates_amarillo {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  font-weight: 700;
}

.remates_rojo {
  background-color: red;
}

.remates_verde {
  background-color: green;
}

.remates_amarillo {
  background-color: rgb(255, 247, 0);
  color: #000000;
}

.remates_rojo:hover {
  background-color: rgb(222, 0, 0);
}

.remates_verde:hover {
  background-color: rgb(0, 100, 0);
}

.remates_amarillo:hover {
  background-color: rgb(233, 226, 0);
}
.cont_buttons__jugadores {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.jugadores_seisInicial,
.jugadores_suplentes {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.seisInicial_titulo,
.suplentes_titulo {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.jugadores_list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Mitades */
.cont_campo {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
}
.mitad_z3metros_1,
.mitad_z3metros_2 {
  background-color: white;
  width: 5px;
}

.mitad_linea {
  width: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.linea {
  background-color: white;
  height: 110%;
}

.list-group-item {
  display: flex;
  gap: 8px;
}

.list-group-item p {
  margin: 0;
}

.c1,
.c2 {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 100px;
}

.c1 {
  position: absolute;
  top: -15px;
}

.c2 {
  position: absolute;
  bottom: -15px;
}

.campo_mitades {
  display: flex;
  position: relative;
}

.mitad_z3metros_1 {
  position: absolute;
  left: 455px;
  height: 100%;
}

.mitad_z3metros_2 {
  position: absolute;
  left: 760px;
  height: 100%;
  background-color: white;
}

.mitad1,
.mitad2 {
  display: flex;
}

.mitad1_zonas {
  display: flex;
}

.mitad1_zonas {
  /* border: 10px solid rgb(255, 255, 255); */
  border-right-width: 0px;
}

.mitad1_saque tr:nth-child(2) {
  border-top: 0px solid transparent;
  border-bottom: 3px dashed white;
}

.mitad1_saque tr:nth-child(3) {
  border-bottom: 3px dashed white;
}

.mitad1_saque tr:nth-child(4) {
  border-bottom: 10px solid transparent;
}

.mitad2_zonas {
  border-left-width: 0px;
}

.mitad1_zonas tr,
.mitad2_zonas tr {
  background-color: #ffce73;
}

.mitad1_zonas tr:first-child,
.mitad1_zonas tr:last-child,
.mitad2_zonas tr:first-child,
.mitad2_zonas tr:last-child {
  background-color: transparent;
  border: 10px solid rgb(255, 255, 255);
  border-right-width: 0px;
  border-left-width: 0px;
}

.mitad1_zonas tr:first-child,
.mitad2_zonas tr:first-child {
  border-top-width: 0px;
}

.mitad1_zonas tr:last-child,
.mitad2_zonas tr:last-child {
  border-bottom-width: 0px;
}

.mitad1_zonas tr:nth-child(2),
.mitad1_zonas tr:nth-child(3),
.mitad1_zonas tr:nth-child(4) {
  border-left: 10px solid white;
}

.mitad1_zonas td,
.mitad2_zonas td {
  border-bottom: 3px dashed rgb(255, 255, 255, 0.5);
  border-left: none;
  border-right: 3px dashed rgb(255, 255, 255, 0.5);
  height: 160px;
}

.mitad1_zonas tr:last-child td {
  border-bottom: 0px f transparent;
}

.mitad1_zonas tr:last-child td {
  border-bottom: 0px solid transparent;
}

.mitad1_zonas tr td:nth-child(2) {
  border-right: 5px solid rgb(255, 255, 255);
}

.mitad1_zonas tr td:nth-child(3) {
  border-right: none;
}

.mitad2_zonas .btn-fuera td:nth-child(1) {
  border-right: 0px;
  border-bottom: 0px;
}

.mitad2_zonas .btn-fuera td:nth-child(2) {
  border-bottom: 0px;
}

.mitad2_zonas tr:nth-child(2) {
  border-top: 10px solid rgb(255, 255, 255);
}

.mitad2_zonas tr td:nth-child(1) {
  border-right: 5px solid rgb(255, 255, 255);
}

.mitad2_zonas td:last-child,
.mitad2_zonas td:nth-child(3) {
  border-right: 10px solid rgb(255, 255, 255);
}

td.btn-fuera-v {
  border-bottom: 0 !important;
  border-right: 0 !important;
}

.btn-fuera-sp:first-child {
  border-bottom: 10px solid transparent;
}

.fuera {
  width: 100% !important;
  height: 75px !important;
  background-color: rgb(205, 167, 95) !important;
}

.fuera:hover {
  background-color: rgb(146, 119, 68) !important;
}

tr > td.btn-fuera-v > .fuera_v {
  width: 75px !important;
  height: 100% !important;
  background-color: rgb(205, 167, 95) !important;
  color: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  font-weight: 700;
}

tr > td.btn-fuera-v > .fuera_v:hover {
  background-color: rgb(146, 119, 68) !important;
}

.btn-fuera-v {
  border-right: 0;
}

.btn-fuera td,
.btn-fuera-sp td,
.zTransp td {
  height: 80px !important;
}

.btn-fuera-sp td {
  border: none;
  background-color: transparent;
}

.s5,
.s6,
.s9 {
  width: 150px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
}

.z1,
.z2,
.z3,
.z4,
.z5,
.z6,
.z7,
.z8,
.z9,
.r1,
.r2,
.r3,
.r4,
.r5,
.r6,
.r7,
.r8,
.r9 {
  width: 150px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  font-weight: 700;
  background-color: #ffce73;
}

.s5:hover,
.s6:hover,
.s9:hover,
.z1:hover,
.z2:hover,
.z3:hover,
.z4:hover,
.z5:hover,
.z6:hover,
.z7:hover,
.z8:hover,
.z9:hover,
.r1:hover,
.r2:hover,
.r3:hover,
.r4:hover,
.r5:hover,
.r6:hover,
.r7:hover,
.r8:hover,
.r9:hover {
  background-color: #ffb836;
}

.campo_buttons__inferior {
  display: flex;
  gap: 1rem;
}

.modal-dialog {
  min-width: 650px;
}

/* END Partido */

/* Equipo */
.sect_equipo {
  max-width: 75%;
  display: grid;
  grid-template-columns: 0.25fr 0.5fr;
  justify-content: center;
  align-items: start;
  margin: 2rem auto;
  gap: 2rem;
}

.cont_add {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add_equipo,
.add_jugador {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.add_equipo form,
.add_jugador form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.add_equipo form div,
.add_jugador form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-crear {
  width: auto;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: #0d0f28;
  border: none;
}

.cont_select {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  height: 100%;
  justify-content: space-around;
  align-items: baseline;
}

.select_equipo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.select_title {
  text-align: center;
  margin: 0 auto;
}

.select_contrario,
.select_analizar {
  width: 100%;
  gap: 0.5rem;
}

.select_vs {
  font-size: 24px;
  font-weight: 700;
}

.btn-editar-equipo {
  background-color: #ffb836;
  color: #0d0f28;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
}

.cont_btn_partido {
  grid-column: 2 / 2;
  grid-row: 2;
  display: flex;
  justify-content: end;
}

/* END Equipo */

/* Jugadores */
.sect_jugadores {
  max-width: 70%;
  display: grid;
  grid-template-columns: 0.25fr 0.65fr;
  justify-content: center;
  align-items: start;
  margin: 2rem auto;
  gap: 2rem;
}

.cont_jugadores {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  height: 100%;
  justify-content: space-around;
}

.list_jugadores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.list_jugadores__title {
  text-align: left;
}
.jugadores_group {
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  gap: 0.5rem 0.5rem;
  width: 100%;
}

.list-group-item {
  border: 1px solid #dee2e6;
  border-top-width: 1px !important;
  border-radius: 0.375rem;
  justify-content: space-between !important;
}

/* .jugadores_group li {
  width: 100%;
} */

/* END Jugadores */

/* Canvas */
canvas {
  width: 1170px;
  height: 655px;
}

.select {
  user-select: none;
}

#canvas {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
}

.stroke-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.pizarra {
  display: flex;
  justify-content: center;
}

.cont_buttons__pizarra {
  max-width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16rem;
  gap: 0 1.5rem;
  margin: 3rem auto;
}

.cont_buttons__edit_pizarra {
  background-color: white;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16rem;
  gap: 0 1.5rem;
  width: fit-content;
}

/* END Canvas */

/* Media Queries */
@media (max-width: 1280px) {
  .pizarra {
    margin-top: 1rem;
  }

  .pizarra > .mitad1 > table.mitad1_saque > tr > tbody > td.s5 {
    width: 100px;
  }

  /* Nav */
  .sect_nav {
    padding: 1rem;
  }

  .cont_nav {
    padding: 0.75rem 1.5rem;
    min-width: 50%;
  }

  .cont_nav__logo img {
    width: 100px;
  }
  .nav_partido {
    justify-content: space-between !important;
  }

  .campo_buttons__inferior {
    /* flex-direction: column; */
    align-items: center;
  }

  .btn_partido,
  .cont_btn__1,
  .cont_btn__2,
  .cont_btn__3,
  .cont_btn__4,
  .cont_btn__5 {
    height: auto;
    width: auto;
    padding: 0.5rem 2rem;
    background-size: 35px;
    background-position: -10px 7px;
    font-size: 16px;
    text-align: center;
  }
  /* Partido */
  .sect_partido {
    display: grid;
    grid-template-columns: 0.5fr auto;
    align-items: inherit;
  }

  .fuera {
    height: 45px !important;
  }

  .btn-fuera td,
  .zTransp td {
    height: 45px !important;
  }
  .rotacion {
    font-size: 16px;
  }

  .remates_rojo,
  .remates_verde,
  .remates_amarillo {
    width: 30px;
    height: 30px;
  }

  .btn-fuera-sp td {
    height: 50px !important;
  }
  .z1,
  .z2,
  .z3,
  .z4,
  .z5,
  .z6,
  .z7,
  .z8,
  .z9,
  .r1,
  .r2,
  .r3,
  .r4,
  .r5,
  .r6,
  .r7,
  .r8,
  .r9,
  .s5,
  .s6,
  .s9 {
    width: 70px;
    height: 80px;
    font-size: 24px;
  }

  .mitad1_zonas td,
  .mitad2_zonas td {
    height: inherit;
  }

  tr > td.btn-fuera-v > .fuera_v {
    width: 45px !important;
    font-size: 24px;
  }

  .btn-fuera-v {
    background-color: rgb(205, 167, 95) !important;
  }
}

/* Tablet */

@media (max-width: 1024px) {
  .sect {
    height: 100vh;
  }

  canvas {
    width: 760px;
    height: 477px;
  }

  .pizarra {
    margin-top: 1rem;
  }

  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z5 {
    width: auto;
  }

  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z1,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z2,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z3,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z4,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z5,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z6,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z7,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z8,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad1_zonas
    > tbody
    > tr
    > td
    > .z9,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r1,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r2,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r3,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r4,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r5,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r6,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r7,
  div.campo_mitades.pizarra
    > div.mitad2.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r8,
  div.campo_mitades.pizarra
    > div.mitad1.select
    > table.mitad2_zonas
    > tbody
    > tr
    > td
    > .r9 {
    width: 100px;
    height: 110px;
  }

  /* Nav */
  .sect_nav {
    padding: 1rem;
  }

  .cont_nav {
    padding: 0.75rem 1.5rem;
    min-width: 50%;
  }

  .cont_nav__logo img {
    width: 100px;
  }
  .nav_partido {
    justify-content: space-between !important;
  }

  .campo_buttons__inferior {
    /* flex-direction: column; */
    align-items: center;
  }

  .btn_partido,
  .cont_btn__1,
  .cont_btn__2,
  .cont_btn__3,
  .cont_btn__4,
  .cont_btn__5 {
    height: auto;
    width: auto;
    padding: 0.5rem 2rem;
    background-size: 35px;
    background-position: -10px 7px;
    font-size: 16px;
    text-align: center;
  }

  /* Crear Equipo */
  .sect_equipo,
  .sect_jugadores {
    max-width: initial;
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    padding: 2rem;
    margin: 0;
  }

  /* Partido */
  .sect_partido {
    display: grid;
    grid-template-columns: 0.5fr auto;
    align-items: inherit;
  }

  .fuera {
    height: 45px !important;
  }

  .btn-fuera td,
  .zTransp td {
    height: 45px !important;
  }
  .rotacion {
    font-size: 16px;
  }

  .remates_rojo,
  .remates_verde,
  .remates_amarillo {
    width: 30px;
    height: 30px;
  }

  .btn-fuera-sp td {
    height: 50px !important;
  }
  .z1,
  .z2,
  .z3,
  .z4,
  .z5,
  .z6,
  .z7,
  .z8,
  .z9,
  .r1,
  .r2,
  .r3,
  .r4,
  .r5,
  .r6,
  .r7,
  .r8,
  .r9,
  .s5,
  .s6,
  .s9 {
    width: 70px;
    height: 80px;
    font-size: 24px;
  }

  .mitad1_zonas td,
  .mitad2_zonas td {
    height: inherit;
  }

  tr > td.btn-fuera-v > .fuera_v {
    width: 45px !important;
    font-size: 24px;
  }

  .btn-fuera-v {
    background-color: rgb(205, 167, 95) !important;
  }
}
